extends layout

include _include/skupneHTMLfunkcije.pug

block content
  #banner.page-header
    .row
      .col-lg-12
        h1= glavaStrani.naslov
          small &nbsp;#{glavaStrani.podnaslov}
  .row
    .col-xs-12.col-sm-8(ng-controller="seznamLokacijCtrl")
      label(for="filter") Filtriranje lokacij
      input#filter(type="text", name="filter", ng-model="filterRezultatov")
      .error {{ sporocilo }}
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="lokacija in data.lokacije | filter: filterRezultatov")
          h4
            - povezava = "/lokacija/" + "{{ lokacija._id }}"
            a(href=povezava) {{ lokacija.naziv }}
            small(prikazi-oceno, ocena="lokacija.ocena") &nbsp; {{ lokacija.ocena }}
            span.badge.pull-right.badge-default {{ lokacija.razdalja | formatirajRazdaljo }}
          p.address {{ lokacija.naslov }}
          p
            span.label.label-warning.lastnost(ng-repeat="lastnost in lokacija.lastnosti")
              | {{ lastnost }}
    .col-xs-12.col-sm-4
      p.lead= stranskaOrodnaVrstica
